@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .headerPadding {
    /* padding 0: 24.00px → 64.00px */
    --pad: clamp(1.5rem, calc(0.31rem + 5.76vw), 4rem);
    /* Step 0: 46.00px → 64.00px */
    --pad2: clamp(2.88rem, calc(2.36rem + 2.56vw), 4rem);
    padding-left: var(--pad);
    padding-right: var(--pad);
    margin-top: var(--pad2);
    margin-bottom: var(--pad2);
  }
}

.font-Goth {
  font-family: var(--font-Goth);
}
.font-Zen {
  font-family: var(--font-Zen);
}
.font-Mont {
  font-family: var(--font-Mont);
}
.font-Kanit {
  font-family: var(--font-Kanit);
}

.title {
  /* title:: 21.00px → 60.00px  */
  --title: clamp(1.3125rem, 0.4647rem + 4.2391vw, 3.75rem);
  font-size: var(--title);
}
